<div class="flex-col side-bar w-100 main-bg-color round-x">
  <div class="w-90 wel flex-row center-align tint-main-bg-color main-color round-x mb-2">
    <span class="mr-2 cap">Welcome {{userDetails.firstName}}! </span> <img src="assets/imgs/hand.png" class="lg-icon" />
  </div>
  <a mat-button routerLink=""><mat-icon class="sm-icon mr-2" aria-hidden="false" aria-label="arrow right next">arrow_right</mat-icon>My Todo</a>
  <a mat-button routerLink="event"><mat-icon class="sm-icon mr-2" aria-hidden="false" aria-label="arrow right next">arrow_right</mat-icon>My Events</a>
</div>
